h1 無駄遣いを撲滅するアプリ
p 無駄遣い...それは人類史の始まりより続く業の深い罪です。
p コンビニでなんとなく買ったお酒、ネットショッピングの衝動買い...
p 日々繰り返される罪深き行為によって、予想以上に出費を繰り返してしまう...そんな人々のために
p 「無駄遣いを撲滅する」ことを目標に掲げたサービスです。
= image_tag 'PQcode.png'
= link_to '友達追加', '#', class: 'btn btn-primary'