.toppage-outer {
  text-align: center;
  margin-top: 5em;
}

.toppage-inner {
  display: inline-block;
  text-align: center;
}

.toppage-title {
  margin-bottom: 1em;
}

.row-center {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.qrimage {
  margin: 2em 0 2em 0;
}

.btn-green-moon {
  background: #58c577;
  color: #fff;
  padding: 0 3em 0 3em;
}

.btn-rounded {
  border-radius: 20px;
}

.fa-line {
  
}