.toppage-outer {
  text-align: center;
  margin-top: 5em;
}

.toppage-inner {
  display: inline-block;
  text-align: center;
}

.toppage-title {
  margin-bottom: 1em;
}

.row-center {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

.line_button {
  padding-top: 5rem;
}
